<!DOCTYPE html>
<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<th:block th:replace="~{/partials/head :: headPart-todo}"></th:block>
<body>
    <div id="app">
        <div class="main-wrapper">
            <th:block th:replace="~{/partials/header :: headerPart}"></th:block>
            <th:block layout:fragment="content"></th:block>
            <th:block th:replace="~{/partials/footer :: footerPart}"></th:block>
        </div>
        <th:block th:replace="/partials/config :: jsPart"></th:block>
        <script type="module" th:src="@{/assets/js/todo/todoFunc.js}"></script>
    </div>
</body>

</html>