<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layout/default_layout">

    <div layout:fragment="content" class="main-content">
   


      <table class="table">
        <thead>
          <th><img alt="image" src="../assets/img/avatar/avatar-5.png" class="rounded-circle" width="35" data-toggle="tooltip" title="Wildan Ahdian"></th>
          <th>@nani</th>
        </thead>
        <tbody>
          <tr>
            <td>목 아파 디져유</td>
          </tr>
          <tr>
            <td><a class="nav-link" href="#">LIKE</a></td>
            <td><a class="nav-link" href="#">MESSAGE</a></td>
          </tr>

        </tbody>

      </table>

      <div class="card mb-0">
        <div class="card-body">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#">ALL <span class="badge badge-white">5</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">DONESTERS <span class="badge badge-primary">1</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">DOSTERS <span class="badge badge-primary">1</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</html>